#home-category
    width: 100%
    max-width: 1280px
    margin: auto
    margin-top: 100px
.home-category-navlist
    display: flex
    justify-content: center
    align-items: center
    list-style: none
    color: var(--white-color)
    font-size: 22px
    margin-bottom: 40px

.home-category-navitem
    padding: 5px 10px
    cursor: pointer
    border: 2px solid var(--light-dark-color)
    transition: .3s all ease
.home-category-navitem:hover
    color: var(--orange-color)
.home-category-list
    display: flex
    justify-content: center
    align-items: flex-start
    list-style: none
    width: 100%
    max-width: 1280px
    flex-wrap: wrap
.home-category-item
    width: calc( 100% / 12 * 3)
    text-align: center
    padding: 10px
    border-radius: 10px
    color: var(--white-color)
    display: flex
    flex-direction: column
    position: relative
.home-category-item:hover
    color: var(--orange-color)
.home-category-item:hover  .blur-container
    display: flex
.home-category-item:last-child:hover  .blur-container
    display: flex
.home-category-item:hover img
    box-shadow: rgba(191, 191, 204, 0.327) 0px 7px 29px 0px

.img-container
    width: 100%
    aspect-ratio: 5/6
    border-radius: 10px
    position: relative
.game-image
    width: 100%
    height: 100%
    object-fit: cover
    border-radius: 10px
.blur-container
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    width: 100%
    height: 30%
    background-color: #00000097
    bottom: 0
    left: 0
    border-radius: 10px
    font-size: 18px
    font-weight: bold
    padding: 10px
.discount-tag
    position: absolute
    top: 0
    right: 0
    background: var(--orange-color)
    border-radius: 10px
    height: 40px
    display: flex
    justify-content: center
    align-items: center
    padding: 0 5px
    color: var(--white-color)
    font-weight: bold
.info-container
    width: 100%
    display: flex
    p
        padding: 0
        margin: 0
    svg
        margin: 0 5px 5px
.info-container-left
    width: 60%
    display: flex
    flex-direction: column
    align-items: flex-start
.info-name
    width: 100%
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    font-weight: bold
    text-align: start
    color: var(--white-color)
.info-name:hover
    color: var(--orange-color)
.info-price-container
    width: 100%
    display: flex
    align-items: center
.info-discount
    color: #ccc
    text-decoration: line-through
.info-price
    background: var(--orange-color)
    border-radius: 5px
    padding: 3px !important
    font-weight: bold
    color: var(--white-color)

.info-container-right
    display: flex
    align-items: center
    justify-content: flex-end
    width: 40%
    position: relative
    button
        padding: 5px 20px
        height: 100%
        outline: none
        border: none
        border-radius: 5px
        background: var(--blue-color)
        color: var(--white-color)
        font-weight: bold
        transition: .4s all ease
        position: absolute
        z-index: 99
        svg
            margin: 0
            font-size: 26px
    button:hover
        background: var(--orange-color)
.blur-container
    svg
        margin-left: 10px
        margin-top: 4px
.disabled
    background: #ccc !important
