.carousel 
    width: 100%


.title
    color: #fff

carousel-container
    width: 100%
    position: relative

.flickity-button 
    background-color: #fff
    transition: .5s all ease

.flickity-button:hover 
    cursor: pointer
    background-color: #e4a459

.prev 
    width: 70%
    position: absolute
    top: 0
    left: -60%
    transition: 0.8s ease all

.cur 
    width: 70%
    margin: auto
    position: relative
    transition: 0.8s ease all

