.footer_field
    display: flex
    width: 100%
    background-color: #151515
    height: 20%
    justify-content: center
    color: #fff

    footer
        width: 60%
        justify-content: center
        
            .footer_head
                display: inline-block
                height: auto

                h4
                    margin-top: 30%
                    margin-bottom: 5%
                    font-style: normal
                    font-weight: 900
                    font-size: 32px
                    line-height: 0.1%
                    align-items: center
                    text-transform: uppercase
                    color: #FF9900
                
                h4::after
                    position: absolute
                    left: 0
                    content: "ABOU"
                    color: #FF9900
                    text-decoration: underline
                    text-decoration-thickness: 12%

            .href_content
                 display: flex
                flex-direction: row

                .reference
                    display: flex
                    flex: 1

                    a
                        display: flex
                        align-items: center
                        text-decoration: none
                        color: #ccc

                        i
                            margin-right: 10%