body{
    margin: 0;
    padding: 0;
}

.page_content{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

.footer_field{
    display: flex;
    width: 100%;
    background-color: #151515;
    justify-content: center;
    color: #ccc;
}
.footer_field *{
    margin: 0;
    padding: 0;
}

.footer_field footer{
    width: 60%;
    padding: 2% 0 2% 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.footer_field footer .rights{
    flex: 1;
    flex-direction: column;
    margin-right: 5%;
}
.footer_field footer .rights img{
    width: 55%;
}
.footer_field footer .rights p{
    margin-top: 5%;
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
}

.footer_field footer .title{
    color: #FF9900;
    display: inline-block;
}
.footer_field footer .reference li{
    list-style-type: none;
    margin-top: 5%;
}
.footer_field footer .reference li a{
    text-decoration: none;
    font-size: 20px;
    color: #ccc;
    font-weight: bold;
}
.footer_field footer .reference li a:hover{
    color: #fff;
    text-decoration: underline;
}

.footer_field footer .special_categories{
    flex: 1;
    padding-left: 5%;
    flex-direction: column;
}
.footer_field footer .socials{
    flex: 1;
    padding-left: 5%;
    flex-direction: column;
}
.footer_field footer .socials .socials_reference li a{
    display: flex;
    flex-direction: row;
}
.footer_field footer .socials .socials_reference li a i{
    margin-right: 5%;
}
.footer_field footer .socials .socials_reference .facebook_link a i{
    padding-right: 0.5%;
    padding-left: 0.75%;
}