.banner-container
    width: 100%
    display: flex
    justify-content: center

.banner-content
    width: 100%
    max-width: 1280px
    display: flex
    box-shadow: 0px 0px 50px 10px #00000085

.main-banner-container
    width: 75%
    aspect-ratio: 5/2
    position: relative

    img
        width: 100%
        height: 100%
        object-fit: cover

    .main-banner-blur
        position: absolute
        width: 50%
        height: 100%
        top: 0
        left: 0
        opacity: 0.6
        background: linear-gradient(270deg, rgba(11, 11, 11, 0) 0%, rgb(11, 11, 11) 100%, rgb(11, 11, 11) 100%)
        z-index: 0

    .main-banner-info
        position: absolute
        width: 50%
        height: 100%
        top: 0
        left: 0
        padding-left: 20px
        z-index: 1
        display: flex
        flex-direction: column
        justify-content: center

        .main-banner-logo
            width: 100px
            margin-bottom: 20px

    p
        color: var(--white-color)
        max-width: 350px
        margin-bottom: 5px
        font-weight: bold

    .main-banner-btn-container
        margin-top: 20px
        display: flex

    .main-banner-btn
        padding: 10px 20px
        border-radius: 5px
        outline: none
        border: none
        margin-right: 5px
        font-weight: bold
        color: var(--white-color)

    .price
        display: flex
        color: var(--white-color)
        align-items: center

        svg
            margin: 0 5px 6px 5px

        .old-price
            color: var(--white-color)
            text-decoration: line-through
            background: var(--orange-color)
            padding: 5px 10px
            border-radius: 10px

        .new-price
            color: var(--orange-color)
            background-color: var(--white-color)
            padding: 7px 15px
            border-radius: 5px
            box-shadow: 0px 0px 10px 1px #00000085

.orange-background
    background-color: var(--orange-color)

.blue-background
    background-color: var(--blue-color)

.sub-banner-list
    list-style: none
    display: flex
    flex-direction: column
    width: 25%
    padding: 0
    margin: 0

.sub-banner-container
    width: 100%
    height: 120px
    padding: 5px 10px
    position: relative
    overflow: hidden
    cursor: pointer
    box-shadow: -30px 0px 10px 1px #00000085

    img
        width: 100%
        height: 100%
        object-fit: cover
        border-radius: 10px
.banner-desc-mobile
    width: 170px
